@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --dark-blue-1:hsl(217, 28%, 15%);
    --dark-blue-2: hsl(218, 28%, 13%);
    --dark-blue-3:hsl(216, 53%, 9%);
    --dark-blue-4: hsl(219, 30%, 18%);


    --cyan:hsl(176, 68%, 64%);
    --blue:hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);

}

body{
    width:100%;
    min-height:100vh;
    /*font-family: sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:hsl(0, 0%, 100%);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color:#fff;
}
button{
    padding:12px 50px;
    border:none;
    border-radius:30px;
    color:#fff;
    background:linear-gradient(to right, var(--cyan), var(--blue));
    cursor: pointer;

}
ul{
    list-style:none;
}
.container{
    margin:auto;
}
/*
Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
Dark Blue (main background): hsl(218, 28%, 13%)
Dark Blue (footer background): hsl(216, 53%, 9%)
Dark Blue (testimonials background): hsl(219, 30%, 18%)


Accent
Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
Light Red (error): hsl(0, 100%, 63%)

*/

/*
Headings, Call-to-actions, Header Navigation
Family: Raleway
Weights: 400, 700
Body
Family: Open Sans
Weights: 400, 700

*/


.navbar{
    width:100%;
    background-color: var(--dark-blue-1);
    padding:20px 0px;

}

.navbar .container{
    width:80%;
    max-width:1440px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img{
    width:60%;
    display: block;
}
.navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar nav ul li {
    margin-left:20px;
    font-size: 14px;
}
.navbar nav ul li a:hover{
    text-decoration: underline;

}
/*   NAVBAR END  */


/******************* HERO START ***************/
.hero{
    width:100%;
    text-align:center;
    margin-top:-5px;

    color:#fff;
    background:url("./images/bg-curvy-desktop.svg");

    background-color: var(--dark-blue-1);
    
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom  center ;
}
.hero .container{
    width:50%;
    max-width:500px;
    padding:10px 0px 200px;

}
.hero img{
    width:90%;
    margin:auto;
    display: block;
}
.hero h1{
    margin:10px 0px;
    font-size: 2rem;
}
.hero p{
    margin-bottom: 20px;
}
/******************* HERO END ***************/




/************** FEATURES START **************/
.features{
    width:100%;
    background-color: var(--dark-blue-2);
    margin-top:-5px;
    
}
.features .container{
    width:70%;
    max-width:800px;
    padding-bottom:50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:50px;
}
.features .container > div{
    text-align:center;
}
.features .container > div img{
    /* display: block; */
    height:70px;
}
.features .container > div h3{
    margin:15px 0px 6px;

}
/************** FEATURES END **************/


/************** PRODACTIVE START  *********/
.prodactive{
    width:100%;
    background-color: var(--dark-blue-2);
    margin-top:-5px;

}
.prodactive .container{
    width:90%;
    max-width:1200px;
    padding:50px 0px;
    
    display: flex;

    
}

.prodactive .container .img-div{
    margin-right:20px;
    flex:0.6;
}
.prodactive .container .content{
    margin-left:20px;
    flex:0.4;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align:start;


}

.prodactive .container > div img{
    width:100%;
}


.prodactive .container .content h2{
    margin:0px 0px 20px;
    font-size: 2rem;
}
.prodactive .container .content a{
    margin-top:10px;
    color: var(--cyan);

    text-decoration: underline;
}
.prodactive .container .content a span{
    color: var(--cyan);
    background-color: #fff;
    color:black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:16px;
    height:16px;
    margin-bottom:-10px;
    margin-left:3px
}
/************** PRODACTIVE END  *********/



/************* TESTIMONIAL START **********/
.testimonial{
    width: 100%;
    margin-top:-5px;
    background:url("./images/bg-quotes.png") no-repeat;
    background-position: 5% 2%;
    background-color: var(--dark-blue-2);
    padding-top:50px;


}
.testimonial .container{
    width:90%;
    max-width:1200px;
    padding-bottom: 50px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;

    gap:10px;


}
.testimonial .container .card{
    padding:30px 20px;

    width:300px;
    flex-grow:1;
    flex-shrink: 99;


    background-color: var(--dark-blue-4);
    border-radius:10px;
}
.testimonial .container .card .user{
    display: flex;
    margin-top: 20px;
}

.testimonial .container .card .user .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonial .container .card .user img{
    width:40px;
    height:40px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 10px;
}
/************* TESTIMONIAL END **********/


/**********  NEWSLETTER START ************/
.newsletter{
    width:100%;
    background-color:var(--dark-blue-2);
    padding-top:100px;
    margin-top:-5px;

}
.newsletter .container {
    width:95%;
    max-width:700px;
    padding:50px 60px;
    background-color: var(--dark-blue-1);
    border-radius: 5px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align:center;
    margin-bottom:-100px;
    position: relative;
    z-index:10;
    
}



.newsletter .container  p{
    width:90%;
    margin:20px auto;
}
.newsletter .container  form{
    width:100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    gap:20px;
}
.newsletter .container  form input{
    width:60%;
    border:none;
    border-radius:40px;
    padding:12px 15px;
    outline:none;
    flex-grow:1;


}
.newsletter .container  form button{
    padding-right:20px;
    padding-left:20px;
    flex-grow:1;

}

.newsletter form {
    position: relative;
    /* background-color: red; */
}
.newsletter form small{
    position: absolute;
    color:black;
    bottom:-20px;
    left:5px;
    display: none;
    /* transform:translate(-50%,0px); */
}

.newsletter form small.invalid{
    color:var(--light-red);
    display:inline;
}
.newsletter form small.valid{
    color:var(--cyan);
    display:inline;
}


/**********  NEWSLETTER END ************/



/* FOOTER START */
.main-footer{
    width:100%;
    
    background-color: var(--dark-blue-3);
    padding-top:200px;
    padding-bottom:30px;
}
.main-footer .container{
    width:90%;
    max-width: 1440px;

}
.main-footer .container header img{
    width:100px;
}

.main-footer .container .cols{
    margin-top:30px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:20px;
    /* background-color: red; */


}
.main-footer .cols ul{
    justify-self: center;
}
.main-footer .container .cols .location{
    display: flex;
    align-items: start;
    flex-basis: 30%;
    grid-column: span 2;
}
.main-footer .container .cols .location img{
    margin-right:20px;
    margin-top:5px;
    display: block;
    cursor:pointer;

}

.main-footer .cols .contact li{
    display: flex;
    align-items: center;

}
.main-footer .cols .contact img{
    margin-right:20px;
    cursor:pointer;

}
.main-footer .container .cols ul li{
    margin-bottom:10px;
}

.main-footer  .cols .social-icons{
    display: flex;
    gap:10px;
    justify-self: end;
}
.main-footer .social-icons a{
    border:1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.main-footer .social-icons li:nth-child(1) a:hover{
    color:#3b5998;
    border-color:#3b5998;
}
.main-footer .social-icons li:nth-child(2) a:hover{
    color:#00acee;
    border-color:#00acee;
}
/* INSTAGRAM */
 .main-footer .social-icons li:nth-child(3){
    position: relative;
    z-index:0;
}
.main-footer .social-icons li:nth-child(3) a{
    border:none;
    position: relative;
    z-index:initial;
   
}
.main-footer .social-icons li:nth-child(3) a::before{
    content:"";
    position: absolute;
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px;
    /* background-image: linear-gradient(to bottom, #8a3ab9,#bc2a8d, #fccc63, #fbad50 ); */
    background-color: #fff;
    border-radius:50%;
    z-index:-2;
}
.main-footer .social-icons li:nth-child(3) a::after{
    content:"";
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    /* background-image: linear-gradient(to bottom, #8a3ab9,#bc2a8d, #fccc63, #fbad50 ); */
    background-color: var(--dark-blue-3);
    border-radius:50%;
    z-index:-1;
}
.main-footer .social-icons li:nth-child(3) a:hover::before{
    background-image: linear-gradient(to bottom, #8a3ab9,#bc2a8d, #fccc63, #fbad50 );
} 

.main-footer .social-icons li:nth-child(3) a:hover{
    background-image: linear-gradient(to bottom, #8a3ab9,#bc2a8d, #fccc63, #fbad50 ); 
    background-clip: text;
    -webkit-background-clip: text;
    background-color: var(--dark-blue-3);
    color:transparent;
}

/* FOOTER END */
@media screen and (max-width:800px){

    /* PRODUCTIVE START */
    .prodactive .container{
        display: flex;
        flex-direction: column;
        
    }
    .prodactive .container .img-div{
        margin-right:0px;
        display: flex;
        justify-content: center;
    }
    .prodactive .container .img-div img{
        width:80%;
    }

    .prodactive .container .content{
        margin-left:0px;
    }

    .prodactive .container .content h2{
        font-size: 1.4rem;
        margin-top:50px;
    }
  

    /* FOOTER  START*/
    .main-footer .container .cols{
        grid-template-columns: repeat(3, 1fr);
        row-gap:50px;
    }
    .main-footer .cols ul.contact{
        justify-self: end;
    }
    .main-footer .cols ul{
        justify-self: center
    }
    .main-footer .cols ul:nth-of-type(2){
        justify-self:start;
        padding-left:35px;
    }
    /* FOOTER  END*/
}

@media screen and (max-width:690px){

    /* HERO */
    .hero .container{
        width:90%;
    }
    .hero h1{
        margin:10px 0px;
        font-size: 1.5rem;
    }
    .hero p{
        margin-bottom: 20px;
    }

    
    /* FEATURES */
    .features .container{
        width:90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:50px;
    }
    .features .container > div p{
        width:80%;
        margin:auto;
    }

}

@media screen and (max-width:510px){
    /* NAVBAR */
    .navbar .container{
        flex-direction: column;
        justify-content: center;
    }
    .navbar .container .logo{
        display: flex;
        justify-content: center;
        margin-bottom:20px;
    }

    /* NEWSLETTER */
    .newsletter .container {
        padding:50px 10px;
    }


    /* FOOTER   START*/
    .main-footer .container .cols{
         grid-template-columns: 1fr;
    }
    .main-footer .container .cols .location{
        grid-column: unset;
    }

    .main-footer .cols ul.contact{
        justify-self: start;
    }
   
    .main-footer .cols ul:nth-of-type(2){
        justify-self:start;
        padding-left:0px;
    }
    .main-footer .cols ul{
        justify-self: start;
    }
    .main-footer  .cols .social-icons{
        justify-self: center;
    }
    /* FOOTER  END */

}
